<!DOCTYPE HTML>
<html xmlns:th="http://www.niekam.nieko">
<head>

    <title>Knygos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css">
	
<style>
			.anuliuotas, .sanuliuotas {
				background-color: lightblue;
			}
			.redaguoti, .sredaguoti {
				background-color: lightgreen;
			}
			/*
				jquery ui stiliai
			*/
			label, input { display:block; }
			input.text { margin-bottom:12px; width:95%; padding: .4em; }
			fieldset { padding:0; border:0; margin-top:25px; }
			h1 { font-size: 1.2em; margin: .6em 0; }
			div#users-contain { width: 350px; margin: 20px 0; }
			div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
			div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
			.ui-dialog .ui-state-error { padding: .3em; }
			.validateTips { border: 1px solid transparent; padding: 0.3em; }	
			
	</style>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" 
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
	crossorigin="anonymous">
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	
<script>

$( document ).ready( function() {
			 var dialog, form, produktai;
 
			id = $( "#id" );
			knygos_pav = $( "#knygos_pav" );
			autorius = $( "#autorius" );
			isleidimo_metai = $( "#isleidimo_metai" );
			allFields = $( [] ).add( id ).add( knygos_pav ).add( autorius ).add( isleidimo_metai );
			
			function surastiSarasePagalId ( id, sarasas ) {
		
			found = -1;
	
			for ( i = 0; i < sarasas.length; i++) {	
			
				if ( id == sarasas [ i ].id ) {
				
					found = i;
				}
			}
			return found;
		}
		
		function pasiimtiKnygas() {
										
			$.ajax(
				{
					url: "http://localhost:8080/restfull/visos-knygos" 
															
				})
				
			.done(	function( data ) {	
				knygos = data;
				
				res_str = '<table align="center">' +
					'<tr>' + 
					'<th> ID </th>' + 
					'<th> knygos_pavadinimas </th>' + 
					'<th> Autorius </th>' + 
					'<th> Isleidimo metai <th>' + 
					'<th>Veiksmai' +
						'<input type="button" id="naujas" value="Nauja knyga">' + 
					'</th></tr>';
										
				for ( i = 0; i < data.length; i++) {
							
					res_str += '<tr>' + 
							'<td>' + data [ i ].id + '</td>' + 
							'<td>' + data [ i ].knygos_pav + '</td>' + 
							'<td>' + data [ i ].autorius + '</td>' + 
							'<td>' + data [ i ].isleidimo_metai + '</td>';
					
					res_str += '<td><input type="button" class="redaguoti" value="Redaguoti"></td>'
					res_str += '<td><input type="button" class="anuliuotas" value="Naikinti"></td>'
					res_str += '<td><input type="button" class="autorius" value="Autorius"></td>'
					res_str += '</tr>';
				}
							


						
						res_str += '</table>'
						$( '#knygos' ).html ( res_str );
						
						$( "#naujas" ).button().on( "click", function() {
						      $( '#id' ).val(  '0' );
						      dialog.dialog( "open" );
						});						
						
						$( '.anuliuotas' ).on ( 'click', function() {
						
							$( this ).each ( function() {
								
								id = $( this ).parent( ).parent().data ( 'id' );

								keistiBusena ( id, 'anuliuotas' );
							});
						});
						
						$('salinti').on('click', function(){
						
						    $( "#dialog-confirm" ).dialog({
							      resizable: false,
							      height: "auto",
							      width: 400,
							      modal: true,
							      buttons: {
								"Delete all items": function() {
								  $( this ).dialog( "close" );
								},
								Cancel: function() {
								  $( this ).dialog( "close" );
								}
							      }
							    });
							  } );

						
						$( '.redaguoti' ).on ( 'click', function() {
						
							$( this ).each ( function() {
								
								id = $( this ).parent( ).parent().data ( 'id' );
								
								i_knygos = surastiSarasePagalId ( id, knygos );
								
								$( '#id' ).val ( knygos [ i_knygos ].id );
								$( '#knygos_pav' ).val ( knygos [ i_knygos ].knygos_pav );
								$( '#autorius' ).val ( knygos [ i_knygos ].autorius );
								$( '#isleidimo_metai' ).val ( knygos [ i_knygos ].isleidimo_metai );

								$( '#id' ).val ( id );
								dialog.dialog( "open" );
							});
						});
					});	
					
		}
		
				
		dialog = $( "#dialog-form" ).dialog({
		      autoOpen: false,
		      height: 550,
		      width: 350,
		      modal: true,
		      buttons: {
			"Prideti": function () {
				id = 0;
				pridetiKnygas( id ); 
			},
			"Ataukti": function() {
			
				dialog.dialog( "close" );
			}
		      },
		      close: function() {
			form[ 0 ].reset();
			allFields.removeClass( "ui-state-error" );
		      }
		});

	function pridetiKnygas( id ) {
		
			params_str = 
				'id=' + id +
				'&knygos_pav=' + knygos_pav.val() +
				'&autorius=' + autorius.val() +
				'&isleidimo_metai=' + isleidimo_metai.val();  
				
			alert ( params_str );
		
			$.ajax(
				{
					url: "http://localhost:8080/restfull/prideti_knyga?" + params_str
				}
			)
			.done( function( data ) {
		
				alert ( data );
				dialog.dialog ( 'close' );
				
				pasiimtiKnygas();
			});			
		
		}

		
		pasiimtiKnygas();
		
		$( '#naujas' ).click ( function() {
			dialog.dialog( "open" );
		});
		
			alert ('Vykdomas nauja  knyga');
			
			nauja_knyga = {
				knygos_pav: $('#knygos_pav').val(),
				autorius : ($ ('#autorius').val() ),
				isleidimo_metai : ($ ('#isleidimo_metai').val() )
			}
			params_str = 
				'knygos_pav' + knygos.knygos_pav +
				'autorius' + knygos.autorius + 
				'isleidimo_metai' + knygos.isleidimo_metai;
				
		//		alert ( "http://localhost:8080/restfull/pridetiknyga?" + params_str );
				
			$.ajax(
				{
				url: "http://localhost:8080.restfull/prideti_knyga?" + params_str
				}
			)
			.done( function ( data ){
				alert( data );
				pasiimtiKnygas();
			});
			
		form = dialog.find( 'form' );

	});	
</script>
</head>

<body>

<div id="dialog-form" title="data">
  <p class="validateTips">Visi laukeliai turi buti uzpildyti.</p>
 
  <form id="df" action="">
    <fieldset>
      <label for="id">Id numeris</label>
      <input type="text" name="id" id="id" value="" class="text ui-widget-content ui-corner-all">
      <label for="knygos_pav">Knygos pavadinimas</label>
      <input type="text" name="knygos_pav" id="knygos_pav" value="" class="text ui-widget-content ui-corner-all">
      <label for="autorius">Autorius</label>
      <input type="text" name="autorius" id="autorius" value="" class="text ui-widget-content ui-corner-all">
      <label for="Isleidimo_metai">Isleidimo metai</label>
      <input type="text" name="isleidimo_metai" id="isleidimo_metai" value="" class="text ui-widget-content ui-corner-all"> 
 
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
<!-- 	<input name="id" id="id_prod" value="0"> -->
  </form>
</div>
	<div id="knygos">
	</div>
</body>
</html>